DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
SECRET_KEY=
JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=24
OTP_TTL_MINUTES=5
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASSWORD=

# WhatsApp Business Cloud API (Meta) - Get from https://business.facebook.com
WHATSAPP_PHONE_ID=1208369389018823
WHATSAPP_BUSINESS_ACCOUNT_ID=27051549227843582
WHATSAPP_ACCESS_TOKEN=EAAZAs2qVmO78BRl4xbFaV1FGtnSMi9KGWQKQlrsZAVZCeLJXrVDbZCtK51xlKEbJrWrjmxz2kVBAZA8JEEjVpeJrZBbZAOetFZCKZBTUqnLpP5445vASw7tEwlV3S5H0MkqZBDvmLpvZA1lXfEH5k6OPaWiRamTtSWb8wclxZAcT70x34lTRFYf09meJJu3qmkUNAqrAcWJCOWlPBlvlYv99rcQYuovLlKuG0w8wWYlFDfrw9pHmDcxRT53VljiotyEMgP1rgrcRFBg8S4VCiE7LWLCd
