fastapi
uvicorn
sqlalchemy
pymysql
scikit-learn
pandas
numpy
python-dotenv
websockets
aiohttp
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
httpx
tensorflow>=2.13.0
keras>=2.13.0
pillow>=9.0.0
joblib>=1.2.0
python-multipart>=0.0.5
